{%- if content_for_header contains "debutify" and settings.dbtfy_product_tabs and section.blocks.size > 0 -%}
  {%- liquid
                               assign display_type = section.settings.dbtfy_product_tabs_display_type
                               assign product_tabs_position = settings.dbtfy_product_tabs_position
                               assign product_tab_heading_color = section.settings.dbtfy_product_tab_heading_color
                               assign product_tabs_background_color = section.settings.dbtfy_product_tab_background_color
                               assign product_tab_text_content_color = section.settings.dbtfy_product_tab_text_color
                           
                               if display_type == "vertical"
                                 assign vertical = true
                               else
                                 assign horizontal = true
                               endif
                             -%}

  {%- capture horizontal_tabs -%}
    <div class="product-horizontal-tab-buttons" data-headings-style="background-{{ product_tabs_background_color }}">
      {%- for block in section.blocks -%}
        <div data-index="{{ forloop.index }}" id="{{ block.id}}" class="product-tab tab horizontal-tab{% if block.settings.dbtfy_product_tabs_open %} horizontal-tab-active{% endif %} {{ product_tab_heading_color }}-color" data-visibility-type="{{ block.settings.visibility }}" data-product="{{ block.settings.dbtfy_product_tabs_product.id }}" data-product-collection="{{ collections[block.settings.dbtfy_product_tabs_collection].handle }}" data-product-types="{{ block.settings.dbtfy_product_tabs_type }}" data-product-tags="{{ block.settings.dbtfy_product_tabs_tag }}" data-block-type="{{ block.type }}" data-opened-by-default="{{ block.settings.dbtfy_product_tabs_open }}" {{ block.shopify_attributes }}>

          <button type="button" id="horizontal-tab-{{ block.id }}" class="card-header" role="tab" aria-controls="tab-content-{{ forloop.index }}{{ block.id }}">

            {%- unless block.settings.dbtfy_product_tabs_icons == blank -%}
              <span class="{{ settings.icon }} card-header-icon text-secondary icon-width spacer-right-xs">
                {{ block.settings.dbtfy_product_tabs_icons }}
              </span>
            {%- endunless -%}

            {%- unless block.settings.dbtfy_product_tabs_title == blank -%}
              <span class="tab-header-title">{{ block.settings.dbtfy_product_tabs_title }}
              </span>
            {%- endunless -%}
          </button>
        </div>
      {%- endfor -%}
    </div>
  {%- endcapture -%}

  <div class="dbtfy dbtfy-product_tabs {{ display_type }}" data-display-type="{{ display_type }}" hidden>

    {%- if horizontal -%}
      {{ horizontal_tabs }}
    {%- endif -%}

    <div id="ProductTabs" class="card-group{% if vertical %} {{ class }}{% endif %}">
      <!-- Blocks -->
      {%- for block in section.blocks -%}
        {%- if vertical -%}
          {%- capture vertical_tab_start -%}
            <div class="card tab product-tab vertical-tab background-{{ product_tabs_background_color }}" id="product-tab-{{ block.id }}" data-block-type="{{ block.type }}" data-visibility-type="{{ block.settings.visibility }}" data-product="{{ block.settings.dbtfy_product_tabs_product.id }}" data-product-collection="{{ collections[block.settings.dbtfy_product_tabs_collection].handle }}" data-product-types="{{ block.settings.dbtfy_product_tabs_type }}" data-product-tags="{{ block.settings.dbtfy_product_tabs_tag }}" {{ block.shopify_attributes }}>

              <button type="button" id="tab-button-{{ forloop.index }}{{ block.id }}" class="card-header tab-header tab-header-{{ block.id }}{% if block.settings.dbtfy_product_tabs_open %} active{% endif %} {{ product_tab_heading_color }}-color" role="tab" aria-controls="tab-content-{{ forloop.index }}{{ block.id }}" aria-selected="{% if block.settings.dbtfy_product_tabs_open %}true{% else %}false{% endif %}">

                {%- unless block.settings.dbtfy_product_tabs_icons == blank -%}
                  <span class="{{ settings.icon }} card-header-icon text-secondary icon-width">
                    {{ block.settings.dbtfy_product_tabs_icons }}
                  </span>
                {%- endunless -%}

                {%- unless block.settings.dbtfy_product_tabs_title == blank -%}
                  <span class="tab-header-title">{{ block.settings.dbtfy_product_tabs_title }}
                  </span>
                {%- endunless -%}

                {%- if block.type == "reviews" and block.settings.dbtfy_product_tabs_review -%}
                  {%- render "review-badge" with product as product, position: "product_grid" -%}
                {%- endif -%}
              </button>

              <div class="card-body tab-body {{ section.settings.dbtfy_product_tab_text_color }}-color {{ block.settings.text_alignment }}" id="tab-content-{{ forloop.index }}{{ block.id }}" role="tabpanel" aria-labelledby="tab-button-{{ forloop.index }}{{ block.id }}">
                <div class="tab-content">
                {%- endcapture -%}

                {%- capture vertical_tab_end -%}
                </div>
              </div>
            </div>
          {%- endcapture -%}
        {%- endif -%}

        {%- if block.type == "description" and product.description != blank -%}
          {%- capture description_tab_content -%}
            <div class="pt-description rte" {{ block.shopify_attributes }}>
              {%- liquid
                                           if is_split_description
                                             assign second_part = product.description | split: '<p>[split_description]</p>' | last
                           
                                             unless second_part contains '[split_description]'
                                               echo second_part
                                             else
                                               echo product.description | split: '[split_description]' | last
                                             endunless
                                           else
                                             echo product.description | replace: '<p>[split_description]</p>', '' | replace: '[split_description]', ''
                                           endif
                                         -%}
            </div>
          {%- endcapture -%}
        {%- endif -%}
        {%- if block.type == "detailedDescription" and product.metafields.custom.description != blank -%}
          {%- capture detailed_description_tab_content -%}
            <div class="pt-description rte" {{ block.shopify_attributes }}>
              {%- liquid
                            echo product.metafields.custom.description
                      -%}
            </div>
          {%- endcapture -%}
        {%- endif -%}
        {%- if block.type == "manual" and product.metafields.custom.manual != blank -%}
          {%- capture manual_tab_content -%}
            <div class="pt-description rte" {{ block.shopify_attributes }}>
              {%- liquid
                         echo product.metafields.custom.manual
                       -%}
            </div>
          {%- endcapture -%}
        {%- endif -%}
        {%- if block.type == "ingredient" and product.metafields.custom.ingredient != blank -%}
          {%- capture ingredient_tab_content -%}
            <div class="pt-description rte" {{ block.shopify_attributes }}>
              {%- liquid
                            echo product.metafields.custom.ingredient
                                       -%}
            </div>
          {%- endcapture -%}
        {%- endif -%}



        {%- if block.type == "text" -%}
          {%- capture text_tab_content -%}
            <div class="rte product-tab-{{ block.type }} {{ block.settings.text_alignment }}" {{ block.shopify_attributes }}>
              {%- unless block.settings.dbtfy_product_tabs_text == blank -%}
                {{ block.settings.dbtfy_product_tabs_text }}
              {%- endunless -%}

              {%- if block.settings.dbtfy_product_tabs_image -%}
                <div class="media-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.dbtfy_product_tabs_image.aspect_ratio | times: 100}}%;">
                  {%- capture tab_image -%}
                    <img class="media lazyload" {%- render 'lazysizes', img: block.settings.dbtfy_product_tabs_image, img_type: 'responsive' -%} alt="{{ block.settings.dbtfy_product_tabs_image.alt }}">
                  {%- endcapture -%}

                  {%- if block.settings.dbtfy_product_tabs_image_link != blank -%}
                    <a href="{{ block.settings.dbtfy_product_tabs_image_link }}" target="_blank">
                      {{ tab_image }}
                    </a>
                  {%- else -%}
                    {{ tab_image }}
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- unless block.settings.dbtfy_product_tabs_html == blank -%}
                {{ block.settings.dbtfy_product_tabs_html }}
              {%- endunless -%}
            </div>
          {%- endcapture -%}
        {%- endif -%}

        {%- capture tab_content -%}
          {%- case block.type -%}
            {%- when "description" -%}
              {{ description_tab_content }}
            {%- when "detailedDescription" -%}
              {{ detailed_description_tab_content }}
            {%- when "manual" -%}
              {{ manual_tab_content }}
            {%- when "ingredient" -%}
              {{ ingredient_tab_content }}
            {%- when "text" -%}
              {{ text_tab_content }}
          {%- endcase -%}
        {%- endcapture -%}

        {%- if vertical -%}
          {{ vertical_tab_start }}
          {{ tab_content }}
          {{ vertical_tab_end }}
        {%- else -%}
          <div class="horizontal-tab-{{ block.id }} {{ block.settings.text_alignment }} card tab {{ section.settings.dbtfy_product_tab_text_color }}-color background-{{ section.settings.dbtfy_product_tab_background_color }}" data-index="{{ forloop.index }}" data-id="{{ block.id }}" {% unless block.settings.dbtfy_product_tabs_open %}hidden{% endunless %} {{ block.shopify_attributes }}>

            <div class="card-body tab-body" id="tab-content-{{ forloop.index }}{{ block.id }}" role="tabpanel" aria-labelledby="tab-button-{{ forloop.index }}{{ block.id }}">

              <div class="tab-content">
                {{ tab_content }}
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}

{%- schema -%}
  {
    "name": "t:sections.dbtfy_product_tabs.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.dbtfy_product_tabs.settings.header__1.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.dbtfy_product_tabs.settings.paragraph__1.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.dbtfy_product_tabs.settings.paragraph__2.content"
      },
      {
        "type": "select",
        "id": "dbtfy_product_tabs_display_type",
        "label": "t:sections.dbtfy_product_tabs.settings.display_type.label",
        "default": "vertical",
        "options": [
          {
            "value": "vertical",
            "label": "t:sections.dbtfy_product_tabs.settings.display_type.options__1.label"
          }, {
            "value": "horizontal",
            "label": "t:sections.dbtfy_product_tabs.settings.display_type.options__2.label"
          }
        ]
      }, {
        "type": "select",
        "id": "dbtfy_product_tab_heading_color",
        "label": "t:sections.dbtfy_product_tabs.settings.tab_heading_color.label",
        "default": "headings",
        "options": [
          {
            "value": "headings",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_heading_color.options__1.label"
          }, {
            "value": "background",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_heading_color.options__2.label"
          }
        ]
      }, {
        "type": "select",
        "id": "dbtfy_product_tab_text_color",
        "label": "t:sections.dbtfy_product_tabs.settings.tab_text_color.label",
        "default": "text",
        "options": [
          {
            "value": "headings",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_text_color.options__1.label"
          }, {
            "value": "text",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_text_color.options__2.label"
          }, {
            "value": "background",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_text_color.options__3.label"
          }
        ]
      }, {
        "type": "select",
        "id": "dbtfy_product_tab_background_color",
        "label": "t:sections.dbtfy_product_tabs.settings.tab_background_color.label",
        "default": "accent_background",
        "options": [
          {
            "value": "accent_background",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_background_color.options__1.label"
          },
          {
            "value": "headings",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_background_color.options__2.label"
          },
          {
            "value": "text",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_background_color.options__3.label"
          },
          {
            "value": "buttons",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_background_color.options__4.label"
          }, {
            "value": "links_and_accents",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_background_color.options__5.label"
          }, {
            "value": "form_elements",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_background_color.options__6.label"
          }, {
            "value": "sales_price",
            "label": "t:sections.dbtfy_product_tabs.settings.tab_background_color.options__7.label"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "description",
        "name": "t:sections.dbtfy_product_tabs.blocks.description.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.block_name.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.block_name.info"
          },
          {
            "type": "checkbox",
            "id": "dbtfy_product_tabs_open",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.open_tabs_by_default.label",
            "default": false
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_icons",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.icon.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.icon.info"
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_title",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.title.label",
            "default": "Details"
          }, {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.label",
            "default": "text-center",
            "options": [
              {
                "value": "",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__1.label"
              }, {
                "value": "text-center",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__2.label"
              }, {
                "value": "text-right",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__3.label"
              }, {
                "value": "text-justify",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__4.label"
              }
            ]
          }, {
            "type": "header",
            "content": "t:sections.dbtfy_product_tabs.blocks.description.settings.header__1.content",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.header__1.info"
          }, {
            "type": "radio",
            "id": "visibility",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.info",
            "default": "all",
            "options": [
              {
                "value": "all",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__1.label"
              },
              {
                "value": "collection",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__2.label"
              },
              {
                "value": "type",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__3.label"
              },
              {
                "value": "tag",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__4.label"
              }, {
                "value": "product",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__5.label"
              }
            ]
          }, {
            "type": "collection",
            "id": "dbtfy_product_tabs_collection",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.collection.label"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_type",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_types.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_types.info"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_tag",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_tags.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_tags.info"
          }, {
            "type": "product",
            "id": "dbtfy_product_tabs_product",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product.label"
          }
        ]
      },
      {
        "type": "manual",
        "name": "t:sections.dbtfy_product_tabs.blocks.manual.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.block_name.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.block_name.info"
          },
          {
            "type": "checkbox",
            "id": "dbtfy_product_tabs_open",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.open_tabs_by_default.label",
            "default": false
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_icons",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.icon.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.icon.info"
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_title",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.title.label",
            "default": "Details"
          }, {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.label",
            "default": "text-center",
            "options": [
              {
                "value": "",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__1.label"
              }, {
                "value": "text-center",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__2.label"
              }, {
                "value": "text-right",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__3.label"
              }, {
                "value": "text-justify",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__4.label"
              }
            ]
          }, {
            "type": "header",
            "content": "t:sections.dbtfy_product_tabs.blocks.description.settings.header__1.content",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.header__1.info"
          }, {
            "type": "radio",
            "id": "visibility",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.info",
            "default": "all",
            "options": [
              {
                "value": "all",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__1.label"
              },
              {
                "value": "collection",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__2.label"
              },
              {
                "value": "type",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__3.label"
              },
              {
                "value": "tag",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__4.label"
              }, {
                "value": "product",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__5.label"
              }
            ]
          }, {
            "type": "collection",
            "id": "dbtfy_product_tabs_collection",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.collection.label"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_type",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_types.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_types.info"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_tag",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_tags.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_tags.info"
          }, {
            "type": "product",
            "id": "dbtfy_product_tabs_product",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product.label"
          }
        ]
      },
      {
        "type": "detailedDescription",
        "name": "t:sections.dbtfy_product_tabs.blocks.detailedDescription.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.block_name.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.block_name.info"
          },
          {
            "type": "checkbox",
            "id": "dbtfy_product_tabs_open",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.open_tabs_by_default.label",
            "default": true
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_icons",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.icon.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.icon.info"
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_title",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.title.label",
            "default": "Details"
          }, {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.label",
            "default": "text-center",
            "options": [
              {
                "value": "",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__1.label"
              }, {
                "value": "text-center",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__2.label"
              }, {
                "value": "text-right",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__3.label"
              }, {
                "value": "text-justify",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__4.label"
              }
            ]
          }, {
            "type": "header",
            "content": "t:sections.dbtfy_product_tabs.blocks.description.settings.header__1.content",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.header__1.info"
          }, {
            "type": "radio",
            "id": "visibility",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.info",
            "default": "all",
            "options": [
              {
                "value": "all",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__1.label"
              },
              {
                "value": "collection",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__2.label"
              },
              {
                "value": "type",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__3.label"
              },
              {
                "value": "tag",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__4.label"
              }, {
                "value": "product",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__5.label"
              }
            ]
          }, {
            "type": "collection",
            "id": "dbtfy_product_tabs_collection",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.collection.label"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_type",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_types.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_types.info"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_tag",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_tags.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_tags.info"
          }, {
            "type": "product",
            "id": "dbtfy_product_tabs_product",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product.label"
          }
        ]
      },
      {
        "type": "ingredient",
        "name": "t:sections.dbtfy_product_tabs.blocks.ingredient.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.block_name.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.block_name.info"
          },
          {
            "type": "checkbox",
            "id": "dbtfy_product_tabs_open",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.open_tabs_by_default.label",
            "default": false
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_icons",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.icon.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.icon.info"
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_title",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.title.label",
            "default": "Details"
          }, {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.label",
            "default": "text-center",
            "options": [
              {
                "value": "",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__1.label"
              }, {
                "value": "text-center",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__2.label"
              }, {
                "value": "text-right",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__3.label"
              }, {
                "value": "text-justify",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.text_alignment.options__4.label"
              }
            ]
          }, {
            "type": "header",
            "content": "t:sections.dbtfy_product_tabs.blocks.description.settings.header__1.content",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.header__1.info"
          }, {
            "type": "radio",
            "id": "visibility",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.info",
            "default": "all",
            "options": [
              {
                "value": "all",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__1.label"
              },
              {
                "value": "collection",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__2.label"
              },
              {
                "value": "type",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__3.label"
              },
              {
                "value": "tag",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__4.label"
              }, {
                "value": "product",
                "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.visibility.options__5.label"
              }
            ]
          }, {
            "type": "collection",
            "id": "dbtfy_product_tabs_collection",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.collection.label"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_type",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_types.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_types.info"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_tag",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_tags.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.description.settings.product_tags.info"
          }, {
            "type": "product",
            "id": "dbtfy_product_tabs_product",
            "label": "t:sections.dbtfy_product_tabs.blocks.description.settings.product.label"
          }
        ]
      }, {
        "type": "reviews",
        "name": "t:sections.dbtfy_product_tabs.blocks.reviews.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.block_name.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.block_name.info"
          },
          {
            "type": "checkbox",
            "id": "dbtfy_product_tabs_open",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.open_tabs_by_default.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "dbtfy_product_tabs_review",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.show_star_ratings.label",
            "default": true
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_icons",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.icon.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.icon.info"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_title",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.title.label",
            "default": "Reviews",
            "info": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.title.info"
          }, {
            "type": "header",
            "content": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.header__1.content",
            "info": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.header__1.info"
          }, {
            "type": "radio",
            "id": "visibility",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.visibility.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.visibility.info",
            "default": "all",
            "options": [
              {
                "value": "all",
                "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.visibility.options__1.label"
              },
              {
                "value": "collection",
                "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.visibility.options__2.label"
              },
              {
                "value": "type",
                "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.visibility.options__3.label"
              },
              {
                "value": "tag",
                "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.visibility.options__4.label"
              }, {
                "value": "product",
                "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.visibility.options__5.label"
              }
            ]
          }, {
            "type": "collection",
            "id": "dbtfy_product_tabs_collection",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.collection.label"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_type",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.product_types.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.product_types.info"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_tag",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.product_tags.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.product_tags.info"
          }, {
            "type": "product",
            "id": "dbtfy_product_tabs_product",
            "label": "t:sections.dbtfy_product_tabs.blocks.reviews.settings.product.label"
          }
        ]
      }, {
        "type": "text",
        "name": "t:sections.dbtfy_product_tabs.blocks.text.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.block_name.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.text.settings.block_name.info"
          },
          {
            "type": "checkbox",
            "id": "dbtfy_product_tabs_open",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.open_tabs_by_default.label",
            "default": false
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.text_alignment.label",
            "default": "text-center",
            "options": [
              {
                "value": "",
                "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.text_alignment.options__1.label"
              }, {
                "value": "text-center",
                "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.text_alignment.options__2.label"
              }, {
                "value": "text-right",
                "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.text_alignment.options__3.label"
              }, {
                "value": "text-justify",
                "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.text_alignment.options__4.label"
              }
            ]
          },
          {
            "type": "text",
            "id": "dbtfy_product_tabs_icons",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.icon.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.text.settings.icon.info"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_title",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.title.label",
            "default": "Rich text"
          }, {
            "type": "richtext",
            "id": "dbtfy_product_tabs_text",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.text.label"
          }, {
            "type": "image_picker",
            "id": "dbtfy_product_tabs_image",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.image.label"
          }, {
            "type": "url",
            "id": "dbtfy_product_tabs_image_link",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.image_link.label"
          }, {
            "type": "html",
            "id": "dbtfy_product_tabs_html",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.html_code.label"
          }, {
            "type": "header",
            "content": "t:sections.dbtfy_product_tabs.blocks.text.settings.header__1.content",
            "info": "t:sections.dbtfy_product_tabs.blocks.text.settings.header__1.info"
          }, {
            "type": "radio",
            "id": "visibility",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.visibility.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.text.settings.visibility.info",
            "default": "all",
            "options": [
              {
                "value": "all",
                "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.visibility.options__1.label"
              },
              {
                "value": "collection",
                "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.visibility.options__2.label"
              },
              {
                "value": "type",
                "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.visibility.options__3.label"
              },
              {
                "value": "tag",
                "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.visibility.options__4.label"
              }, {
                "value": "product",
                "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.visibility.options__5.label"
              }
            ]
          }, {
            "type": "collection",
            "id": "dbtfy_product_tabs_collection",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.collection.label"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_type",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.product_types.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.text.settings.product_types.info"
          }, {
            "type": "text",
            "id": "dbtfy_product_tabs_tag",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.product_tags.label",
            "info": "t:sections.dbtfy_product_tabs.blocks.text.settings.product_tags.info"
          }, {
            "type": "product",
            "id": "dbtfy_product_tabs_product",
            "label": "t:sections.dbtfy_product_tabs.blocks.text.settings.product.label"
          }
        ]
      }
    ]
  }
{%- endschema -%}
