<div id="BlogSection" data-section-id="{{ section.id }}" data-section-type="blog-template">
  <div class="box">
    <div class="wrapper">

      <div class="grid">
        <div class="grid__item large--eight-twelfths push--large--two-twelfths">
          <div class="section-header">
            <div class="page-title-wrapper">
              {%- if current_tags -%}
                <h1>{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
              {%- else -%}
                <h1 class="page-title">{{ blog.title }}</h1>
              {%- endif -%}
            </div>

            {%- if section.settings.show_rss -%}
              <a href="{{ shop.url }}{{ blog.url }}.atom" class="rss-link" title="RRS">
                <span class="{{ settings.icon }} icon-lg" aria-hidden="true">rss_feed</span>
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>

      {%- assign limit = section.settings.grid | times: section.settings.rows -%}

      {%- paginate blog.articles by limit -%}
        <div {% if settings.dbtfy_infinite_scroll %}id="infiniteScrollContainer" {% endif %}class="grid grid-spacer">
          {%- capture grid_item_width -%}
            {%- render 'article-width' -%}
          {%- endcapture -%}

          {%- for article in blog.articles -%}
            {%- render 'article-grid-item' with article as article, grid_item_width: grid_item_width -%}
          {%- endfor -%}
        </div>

        {%- render "pagination" with paginate as paginate -%}
      {%- endpaginate -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.blog_template.name",
    "class": "blog-section",
    "settings": [
	    {
        "type": "header",
        "content": "t:sections.blog_template.settings.header__1.content"
      },
      {
        "type": "checkbox",
        "id": "show_rss",
        "label": "t:sections.blog_template.settings.show_rss.label",
        "default": false
      },
	    {
        "type": "select",
        "id": "rows",
        "label": "t:sections.blog_template.settings.rows_count.label",
        "default": "6",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
		      {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
		    ]
      },
	    {
        "type": "select",
        "id": "grid",
        "label": "t:sections.blog_template.settings.articles_per_row.label",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
		      {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
		    ]
      }
    ]
  }
{% endschema %}
