{%- if content_for_header contains 'debutify' and settings.dbtfy_collection_filters -%}
  {%- liquid
    assign current_collection = collection
    assign current_tags = current_tags | handleize
    assign icon = settings.dbtfy_collection_filters_button_icon
    assign label = 'add-ons.collection_filters.label' | t
  -%}

  <div id="dbtfyCollectionFilter" class="drawer drawer--left overlay-content" data-section-id="{{ section.id }}" data-section-type="drawer-filters-section" aria-hidden="true" tabindex="-1">
    <div class="drawer__header">
      <div class="drawer__title">
        <span class="{{ settings.icon }} icon-width" aria-hidden="true">{{ icon }}</span>
        <span class="spacer-left-xs">
          {%- if label != blank -%}
            {{ label }}
          {%- else -%}
            {{ 'general.drawers.navigation' | t }}
          {%- endif -%}
        </span>
      </div>

      <div class="drawer__close">
        <button type="button" class="btn btn-square-small drawer__close-button js-drawer-close" aria-label="{{ 'general.drawers.close_menu' | t }}" title="{{ 'general.drawers.close_menu' | t }}">
          <span class="{{ settings.icon }} icon-width" aria-hidden="true">close</span>
        </button>
      </div>
    </div>

    <div class="drawer__inner drawer-left__inner">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when "collections" -%}
            {%- liquid
              assign is_to_show_section = true

              if block.settings.visibility_type == "few" and block.settings.list_categories == blank
                assign is_to_show_section = false
              endif

              if section.settings.hide_unavailable_options
                assign not_empty_collections_count = 0

                if block.settings.visibility_type == "all"
                  if collection.products_count > 0
                    assign not_empty_collections_count = not_empty_collections_count | plus: 1
                  endif
                else
                  assign featured_collections = block.settings.list_categories | split: "," | strip | downcase

                  for collection in collections
                    assign collection_title = collection.title | downcase

                    if featured_collections contains collection_title
                      if collection.products_count > 0
                        assign not_empty_collections_count = not_empty_collections_count | plus: 1
                      endif
                    endif
                  endfor
                endif

                if not_empty_collections_count <= 0
                  assign is_to_show_section = false
                endif
              endif
            -%}

            {%- if is_to_show_section -%}
              <div class="drawer__inner-section"
                {{ block.shopify_attributes }}>
                <div class="dbtfy-filter-group">
                  {%- if block.settings.heading_text != blank -%}
                    <div class="filter-group-header spacer-bottom">
                      <h6 class="spacer-bottom-none">{{ block.settings.heading_text }}</h6>
                    </div>
                  {%- endif -%}

                  <div class="filter-group-body">
                    <ul class="dbtfy-filter-list-links">
                      {%- assign all_collection = collections.all -%}

                      <li {% if current_collection.handle == all_collection.handle %}class="active"{% endif %}>
                        <a href="{{ all_collection.url }}" class="flex justify-between">
                          <span>{{ 'collections.general.all_of_collection' | t }}</span>

                          {%- unless section.settings.visibility_tags_count == 'none' -%}
                            <span class="spacer-left-xs">({{ all_collection.products_count }})</span>
                          {%- endunless -%}
                        </a>
                      </li>

                      {%- if block.settings.visibility_type == "all" -%}
                        {%- for collection in collections -%}
                          {%- liquid
                            assign is_to_show_collection = true

                            if section.settings.hide_unavailable_options and collection.products_count <= 0
                              assign is_to_show_collection = false
                            endif
                          -%}

                          {%- if is_to_show_collection -%}
                            <li {% if collection.handle == current_collection.handle %}class="active"{% endif %}>
                              <a href="{{ collection.url }}" class="flex justify-between">
                                <span>{{ collection.title }}</span>

                                {%- unless section.settings.visibility_tags_count == 'none' -%}
                                  <span class="spacer-left-xs">({{ collection.all_products_count }})</span>
                                {%- endunless -%}
                              </a>
                            </li>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- else -%}
                        {%- assign featured_collections = block.settings.list_categories | split: "," | strip | downcase -%}

                        {%- for collection in collections -%}
                          {%- assign collection_title = collection.title | downcase -%}

                          {%- if featured_collections contains collection_title -%}
                            {%- liquid
                              assign is_to_show_collection = true

                              if section.settings.hide_unavailable_options and collection.products_count <= 0
                                assign is_to_show_collection = false
                              endif
                            -%}

                            {%- if is_to_show_collection -%}
                              <li {% if collection.handle == current_collection.handle %}class="active"{% endif %}>
                                <a href="{{ collection.url }}" class="flex justify-between">
                                  <span>{{ collection.title }}</span>

                                  {%- unless section.settings.visibility_tags_count == 'none' -%}
                                    <span class="spacer-left-xs">({{ collection.products_count }})</span>
                                  {%- endunless -%}
                                </a>
                              </li>
                            {%- endif -%}
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    </ul>
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- when "filter_group" -%}
            {%- liquid
              assign tags = block.settings.tags | split: ','
              assign count_disabled = tags.size
              assign showGroup = true

              for tag in tags
                assign tag_name = tag | lstrip | handleize

                for collection_tag in current_collection.tags
                  assign collection_tag_h = collection_tag | handleize

                  if collection_tag_h == tag_name
                    assign count_disabled = count_disabled | minus: 1
                  endif
                endfor
              endfor

              if section.settings.hide_unavailable_options and count_disabled == tags.size
                assign showGroup = false
              endif
            -%}

            {% if showGroup %}
              <div class="drawer__inner-section"
                {{ block.shopify_attributes }}>
                <div class="dbtfy-filter-group dbtfy-filter-tags-group">
                  {%- if block.settings.heading_text != blank -%}
                    <div class="filter-group-header spacer-bottom flex flex-wrap align-center justify-between">
                      <h6 class="spacer-bottom-none">{{ block.settings.heading_text }}</h6>
                      <button type="button" class="filter-clear text-small fadeIn" hidden>
                        <span>{{ section.settings.clear_label }}</span>
                      </button>
                    </div>
                  {%- endif -%}

                  <div class="filter-group-body">
                    <ul>
                      {%- for tag in tags -%}
                        {%- liquid
                          assign tag_name = tag | lstrip | handleize
                          assign group_id = block.type | append: '_' | append: block.id | append: forloop.index
                          assign countProductsWithTag = 0

                          unless section.settings.visibility_tags_count == 'none'
                            paginate current_collection.products by shop.products_count
                              for product in current_collection.products
                                for product_tag in product.tags
                                  assign product_tag_h = product_tag | handleize

                                  if product_tag_h == tag_name
                                    assign countProductsWithTag = countProductsWithTag | plus: 1
                                  endif
                                endfor
                              endfor
                            endpaginate
                          endunless
                        -%}

                      {%- case section.settings.visibility_tags_count -%}
                        {%- when "all" -%}
                          {% unless section.settings.hide_unavailable_options == true and countProductsWithTag == 0 %}
                            <li class="filter-card-item flex justify-between align-center">
                              <div class="checkbox">
                                <input id="{{ group_id }}" type="checkbox" value="{{ tag_name }}" name="{{ tag_name }}"
                                  {% if current_tags contains tag_name %}checked{% endif %} {%- if countProductsWithTag == 0 -%} disabled {%- endif -%}>

                                <label class="{%- if countProductsWithTag == 0 -%} disabled {%- endif -%}" for="{{ group_id }}">{{ tag }}</label>
                              </div>
                              <span  class="{%- if countProductsWithTag > 0 -%} spacer-left-xs {%- else -%} disabled {%- endif -%}">({{ countProductsWithTag }})</span>
                            </li>
                          {% endunless %}

                        {%- when "only_available" -%}
                          {% unless section.settings.hide_unavailable_options == true and countProductsWithTag == 0 %}
                            <li class="filter-card-item flex justify-between align-center">
                              <div class="checkbox">
                                <input id="{{ group_id }}" type="checkbox" value="{{ tag_name }}" name="{{ tag_name }}"
                                  {% if current_tags contains tag_name %}checked{% endif %} {%- if countProductsWithTag == 0 -%} disabled {%- endif -%}>
                                <label for="{{ group_id }}" class="{%- if countProductsWithTag == 0 -%}disabled{%- endif -%}">{{ tag }}</label>
                              </div>
                              {%- if countProductsWithTag > 0 -%}
                                <span class="spacer-left-xs">({{ countProductsWithTag }})</span>
                              {%- endif -%}
                            </li>
                          {% endunless %}

                        {%- when "none" -%}
                          <li class="filter-card-item flex justify-between align-center">
                            <div class="checkbox">
                              <input id="{{ group_id }}" type="checkbox" value="{{ tag_name }}" name="{{ tag_name }}"
                                {% if current_tags contains tag_name %}checked{% endif %}>
                              <label for="{{ group_id }}">{{ tag }}</label>
                            </div>
                          </li>
                        {%- endcase -%}
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>

    <div class="drawer__footer">
      <button type="button" class="btn btn--full filter-clear-all" hidden>
        {{ section.settings.clear_all_label }}
      </button>
    </div>
  </div>

  <div class="overlay-backdrop overlay-drawer"></div>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.dbtfy_collection_filters.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.dbtfy_collection_filters.settings.header__1.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.dbtfy_collection_filters.settings.paragraph__1.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.dbtfy_collection_filters.settings.paragraph__2.content"
      },
      {
        "type": "header",
        "content": "t:sections.dbtfy_collection_filters.settings.header__2.content"
      },
      {
        "type": "text",
        "id": "clear_label",
        "label": "t:sections.dbtfy_collection_filters.settings.clear_text.label",
        "default": "Clear"
      },
      {
        "type": "text",
        "id": "clear_all_label",
        "label": "t:sections.dbtfy_collection_filters.settings.clear_all_text.label",
        "default": "Clear All"
      },
      {
        "type": "checkbox",
        "id": "hide_unavailable_options",
        "label": "t:sections.dbtfy_collection_filters.settings.hide_unavailable_options.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.dbtfy_collection_filters.settings.header__3.content"
      },
      {
        "type": "select",
        "id": "visibility_tags_count",
        "label": "t:sections.dbtfy_collection_filters.settings.tags_count_visibility.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.dbtfy_collection_filters.settings.tags_count_visibility.options__1.label"
          },
          {
            "value": "all",
            "label": "t:sections.dbtfy_collection_filters.settings.tags_count_visibility.options__2.label"
          },
          {
            "value": "only_available",
            "label": "t:sections.dbtfy_collection_filters.settings.tags_count_visibility.options__3.label"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "filter_group",
        "name": "t:sections.dbtfy_collection_filters.blocks.filter_group.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.dbtfy_collection_filters.blocks.filter_group.settings.block_name.label",
            "info": "t:sections.dbtfy_collection_filters.blocks.filter_group.settings.block_name.info"
          },
          {
            "type": "text",
            "id": "heading_text",
            "label": "t:sections.dbtfy_collection_filters.blocks.filter_group.settings.heading.label"
          },
          {
            "type": "textarea",
            "id": "tags",
            "label": "t:sections.dbtfy_collection_filters.blocks.filter_group.settings.tags.label",
            "info": "t:sections.dbtfy_collection_filters.blocks.filter_group.settings.tags.info"
          }
        ]
      },
      {
        "type": "collections",
        "name": "Collections",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.dbtfy_collection_filters.blocks.collections.settings.block_name.label",
            "info": "t:sections.dbtfy_collection_filters.blocks.collections.settings.block_name.info"
          },
          {
            "type": "text",
            "id": "collection_title",
            "label": "t:sections.dbtfy_collection_filters.blocks.collections.settings.title.label",
            "default": "Collections"
          },
          {
            "type": "radio",
            "id": "visibility_type",
            "label": "t:sections.dbtfy_collection_filters.blocks.collections.settings.visibility_type.label",
            "options": [
              {
                "value": "all",
                "label": "t:sections.dbtfy_collection_filters.blocks.collections.settings.visibility_type.options__1.label"
              },
              {
                "value": "few",
                "label": "t:sections.dbtfy_collection_filters.blocks.collections.settings.visibility_type.options__2.label"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "list_categories",
            "label": "t:sections.dbtfy_collection_filters.blocks.collections.settings.categories.label",
            "info": "t:sections.dbtfy_collection_filters.blocks.collections.settings.categories.info"
          }
        ]
      }
    ]
  }
{% endschema %}
