<div id="NavDrawer" class="drawer drawer--left overlay-content" data-section-id="{{ section.id }}" data-section-type="drawer-menu-section" aria-hidden="true" tabindex="-1">
  <div class="drawer__header">
    <div class="drawer__title">
      <span class="{{ settings.icon }}"
            {% if section.settings.hide_menu_icon %}hidden{% endif %}
            aria-hidden="true">menu</span>

      <span {% unless section.settings.hide_menu_icon %}class="spacer-left-xs"{% endunless %}>
        {%- if section.settings.title != blank -%}
          {{ section.settings.title }}
        {%- else -%}
          {{ 'general.drawers.navigation' | t }}
        {%- endif -%}
      </span>
    </div>
    <div class="drawer__close">
      <button type="button" class="btn btn-square-small drawer__close-button js-drawer-close"  aria-label="{{ 'general.drawers.close_menu' | t }}" title="{{ 'general.drawers.close_menu' | t }}">
        <span class="{{ settings.icon }}" aria-hidden="true">close</span>
      </button>
    </div>
  </div>

  <div class="drawer__inner drawer-left__inner">
    {%- if section.settings.drawer_top_link_list -%}
    <div class="drawer__inner-section">
      <ul class="mobile-nav">
        {%- for link in linklists[section.settings.drawer_top_link_list].links -%}
        {%- if link.links != blank -%}
        <li class="mobile-nav__item">
          <div class="mobile-nav__has-sublist">
            <a href="{{ link.url }}"
               class="mobile-nav__link {% if section.settings.drawer_link_toggle %}mobile-nav__toggle-link{% endif %}"
               id="Label-{{ forloop.index }}"
               {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless %}>{{ link.title | escape }}</a>
            <div class="mobile-nav__toggle">
              <button type="button" class="btn btn-square-small mobile-nav__toggle-btn" aria-controls="Linklist-{{ forloop.index }}" aria-expanded="false">
                <span class="mobile-nav__toggle-open" aria-label="{{ 'general.drawers.expand_submenu' | t }} {{ link.title | escape }}" title="{{ 'general.drawers.expand_submenu' | t }} {{ link.title | escape }}">
                  <span class="{{ settings.icon }}" aria-hidden="true">add</span>
                </span>
                <span class="mobile-nav__toggle-close" aria-label="{{ 'general.drawers.collapse_submenu' | t }} {{ link.title | escape }}" title="{{ 'general.drawers.collapse_submenu' | t }} {{ link.title | escape }}">
                  <span class="{{ settings.icon }}" aria-hidden="true">remove</span>
                </span>
              </button>
            </div>
          </div>
          <ul class="mobile-nav__sublist" id="Linklist-{{ forloop.index }}" aria-labelledby="Label-{{ forloop.index }}" role="navigation">
            {%- assign parent_index = forloop.index -%}
            {%- for childlink in link.links -%}
            {%- if childlink.links != blank -%}
            <li class="mobile-nav__item">
              <div class="mobile-nav__has-sublist">
                <a
                   href="{{ childlink.url }}"
                   class="mobile-nav__link {% if section.settings.drawer_link_toggle %}mobile-nav__toggle-link{% endif %}"
                   id="Label-{{ parent_index }}-{{ forloop.index }}"
                   {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless %}>
                  {{ childlink.title }}
                </a>
                <div class="mobile-nav__toggle">
                  <button type="button" class="btn btn-square-small mobile-nav__toggle-btn" aria-controls="Linklist-{{ parent_index }}-{{ forloop.index }}" aria-expanded="false">
                    <span class="mobile-nav__toggle-open" aria-label="{{ 'general.drawers.expand_submenu' | t }} {{ childlink.title | escape }}" title="{{ 'general.drawers.expand_submenu' | t }} {{ childlink.title | escape }}">
                      <span class="{{ settings.icon }}" aria-hidden="true">add</span>
                    </span>
                    <span class="mobile-nav__toggle-close" aria-label="{{ 'general.drawers.collapse_submenu' | t }} {{ childlink.title | escape }}" title="{{ 'general.drawers.collapse_submenu' | t }} {{ childlink.title | escape }}">
                      <span class="{{ settings.icon }}" aria-hidden="true">remove</span>
                    </span>
                  </button>
                </div>
              </div>
              <ul class="mobile-nav__sublist mobile-nav__subsublist" id="Linklist-{{ parent_index }}-{{ forloop.index }}" aria-labelledby="Label-{{ parent_index }}-{{ forloop.index }}" role="navigation">
                {%- for grandchildlink in childlink.links -%}
                <li class="mobile-nav__item">
                  <a
                     href="{{ grandchildlink.url }}"
                     class="mobile-nav__link"
                     {% unless request.page_type == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless %}>
                    {{ grandchildlink.title | escape }}
                  </a>
                </li>
                {%- endfor -%}
              </ul>
            </li>
            {%- else -%}
            <li class="mobile-nav__item">
              <a
                 href="{{ childlink.url }}"
                 class="mobile-nav__link"
                 {% unless request.page_type == 'index' %}{%- if childlink.active -%}aria-current="page"{% endif %}{% endunless %}>
                {{ childlink.title | escape }}
              </a>
            </li>
            {%- endif -%}
            {%- endfor -%}
          </ul>
        </li>
        {%- else -%}
        <li class="mobile-nav__item">
          <a href="{{ link.url }}"
             class="mobile-nav__link"
             {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless %}>
            {{ link.title | escape }}
          </a>
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}

    {%- if shop.customer_accounts_enabled -%}
    <div class="drawer__inner-section">
      {%- if customer -%}
        <a href="{{ routes.account_logout_url }}" class="btn btn--small btn--full spacer-bottom">
          <span class="{{ settings.icon }} icon-width">exit_to_app</span>
          {{ 'layout.customer.log_out' | t }}
        </a>
        <a href="{{ routes.account_url }}" class="btn btn--primary btn--small btn--full" title="{{ 'layout.customer.account' | t }}">
          <span class="{{ settings.icon }} icon-width">account_circle</span>
          <span class="customer-name">{{ customer.first_name | capitalize }}</span>
        </a>
      {%- else -%}
        <a href="{{ routes.account_login_url }}" class="btn btn--small btn--full spacer-bottom">
          <span class="{{ settings.icon }} icon-width">exit_to_app</span>
          {{ 'layout.customer.log_in' | t }}
        </a>
        <a href="{{ routes.account_register_url }}" class="btn btn--primary btn--small btn--full">
          <span class="{{ settings.icon }} icon-width">person_add</span>
          {{ 'layout.customer.create_account' | t }}
        </a>
      {%- endif -%}
    </div>
    {%- endif -%}

    {%- if section.settings.email or section.settings.phone -%}
    <div class="drawer__inner-section">
      <ul class="mobile-nav">
        {%- if section.settings.email -%}
        <li class="mobile-nav__item mobile-nav__item--secondary">
          <a href="mailto:{{ shop.email | escape }}">
            <span class="{{ settings.icon }} icon-width" aria-hidden="true">email</span>
            {{ shop.email }}
          </a>
        </li>
        {%- endif -%}
        {%- if section.settings.phone -%}
        <li class="mobile-nav__item mobile-nav__item--secondary">
          <a href="tel:{{ shop.phone | remove: '-' | replace: ' ', '' }}">
            <span class="{{ settings.icon }} icon-width" aria-hidden="true">phone</span>
            {{ shop.phone }}
          </a>
        </li>
        {%- endif -%}
      </ul>
    </div>
    {%- endif -%}

    {%- if section.settings.drawer_bottom_link_list -%}
    <div class="drawer__inner-section">
      <ul class="mobile-nav">
        {%- for link in linklists[section.settings.drawer_bottom_link_list].links -%}
        <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}
  </div>

  {%- if section.settings.show_social_medias -%}
  <div class="drawer__footer">
    {%- render 'social-medias' -%}
  </div>
  {%- endif -%}
</div>
<div class="overlay-backdrop overlay-drawer"></div>

{% schema %}
  {
    "name": "t:sections.drawer_menu.name",
	  "class": "drawer-menu-section",
    "settings": [
	    {
        "type": "checkbox",
        "id": "drawer_link_toggle",
        "label": "t:sections.drawer_menu.settings.toggle_submenu_on_links.label",
		    "default": true
      },
      {
        "type": "checkbox",
        "id": "email",
        "label":"t:sections.drawer_menu.settings.email.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "phone",
        "label":"t:sections.drawer_menu.settings.phone.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_social_medias",
        "label": "t:sections.drawer_menu.settings.show_social_medias.label",
		    "default": true
      },
      {
        "type": "checkbox",
        "id": "hide_menu_icon",
        "label": "t:sections.drawer_menu.settings.hide_menu_icon.label",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.drawer_menu.settings.title.label",
        "default": "Menu"
      },
      {
        "type": "link_list",
        "id": "drawer_top_link_list",
        "label": "t:sections.drawer_menu.settings.top_link_list.label",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "drawer_bottom_link_list",
        "label": "t:sections.drawer_menu.settings.bottom_link_list.label",
        "default": "footer"
      }
    ]
  }
{% endschema %}
