{%- liquid
  assign product = all_products[section.settings.featured_product]
  assign emptyState = false

  if product == blank
    assign emptyState = true
  endif

  assign first_3d_model = product.media | where: "media_type", "model" | first
  assign picker_type = section.settings.product_selector
  assign thumbs_location = section.settings.thumbnails_position
  assign enable_image_zoom = section.settings.enable_image_zoom
  assign first_available_variant = product.selected_or_first_available_variant
  assign enable_arrows = section.settings.enable_arrows
  assign product_selector = section.settings.product_selector

  assign enable_image_zoom_on_icon_click = section.settings.enable_image_zoom_on_icon_click
  assign image_display_type = section.settings.image_display_type

   if section.settings.media_layout == "stacked"
    assign stacked_layout = true
   else
     assign stacked_layout = false
   endif

    if image_display_type == "full_screen_image"
    assign full_screen_image = true
   else
    assign full_screen_image = false
   endif
-%}

<div itemscope itemtype="http://schema.org/Product"
     id="section-{{ section.id }}"
     class="{% unless section.settings.show_on_desktop %} medium--hide large--hide{% endunless %} {% unless section.settings.show_on_mobile %} small--hide{% endunless %} {{ section.settings.section_style }}"
     data-section-id="{{ section.id }}"
     data-product-id="{{ product.id }}"
     data-product-handle="{{ product.handle }}"
     data-section-type="product-template"
     data-thumbs-location="{{ thumbs_location }}"
     data-image-zoom-type="{{ image_display_type }}"
     data-enable-history-state="false"
     data-stacked-layout="{{ stacked_layout }}"
     data-product-selector="{{ product_selector }}"
     data-enable-arrows="{{ enable_arrows }}"
     {%- if first_3d_model -%}data-has-model="true"{%- endif -%}>

    {%- render 'product-template' with product as product,
      emptyState: emptyState,
      enable_image_zoom_on_icon_click: enable_image_zoom_on_icon_click,
      full_screen_image: full_screen_image
     -%}
</div>

{% schema %}
  {
    "name": "t:sections.featured_product.name",
	  "class": "featured-product-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_on_desktop",
        "label": "t:sections.featured_product.settings.show_on_desktop.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_on_mobile",
        "label": "t:sections.featured_product.settings.show_on_mobile.label",
        "default": true
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "t:sections.featured_product.settings.featured_product.label"
      },
      {
        "type": "select",
        "id": "section_style",
        "label": "t:sections.featured_product.settings.section_style.label",
        "default": "section-blank",
        "options": [
          {
            "value": "section-blank",
            "label": "t:sections.featured_product.settings.section_style.options__1.label"
          },
          {
            "value": "section-border",
            "label": "t:sections.featured_product.settings.section_style.options__2.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.featured_product.settings.header__1.content"
      },
  	  {
        "type": "checkbox",
        "id": "show_product_vendor",
        "label": "t:sections.featured_product.settings.show_product_vendor.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_product_type",
        "label": "t:sections.featured_product.settings.show_product_type.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_sku",
        "label": "t:sections.featured_product.settings.show_product_sku.label",
        "default": false
      },
  	  {
        "type": "checkbox",
        "id": "product_title_large",
        "label": "t:sections.featured_product.settings.product_title_large.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_product_tags",
        "label": "t:sections.featured_product.settings.show_product_tags.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sharing_icons",
        "label": "t:sections.featured_product.settings.show_sharing_icons.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_collections",
        "label": "t:sections.featured_product.settings.show_product_collections.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_full_details",
        "label": "t:sections.featured_product.settings.show_full_details.label",
        "default": true
      },
  	  {
        "type": "header",
        "content": "t:sections.featured_product.settings.header__2.content",
    		"info": "t:sections.featured_product.settings.header__2.info"
      },
      {
        "type": "checkbox",
        "id": "enable_fading_effect",
        "label": "t:sections.featured_product.settings.enable_fading_effect.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_image_zoom_on_icon_click",
        "label": "t:sections.product_template.settings.enable_image_zoom_on_icon_click.label",
        "default": false
      },
      {
        "type": "select",
        "id": "image_display_type",
        "label": "t:sections.featured_product.settings.image_zoom_type.label",
        "default": "image_zoom",
        "options": [
          {
            "value": "image_zoom",
            "label": "t:sections.featured_product.settings.image_zoom_type.options__1.label"
          },
          {
            "value": "full_screen_image",
            "label": "t:sections.featured_product.settings.image_zoom_type.options__2.label"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "t:sections.featured_product.settings.enable_video_looping.label",
        "default": false
      },
  	  {
        "type": "select",
        "id": "media_layout",
        "label": "t:sections.featured_product.settings.media_layout.label",
        "default": "thumbnails",
        "options": [
    		  {
            "value": "stacked",
            "label": "t:sections.featured_product.settings.media_layout.options__1.label"
          },
     		  {
            "value": "thumbnails",
            "label": "t:sections.featured_product.settings.media_layout.options__2.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "t:sections.featured_product.settings.image_size.label",
        "default": "medium",
        "options": [
    		  {
            "value": "small",
            "label": "t:sections.featured_product.settings.image_size.options__1.label"
          },
     		  {
            "value": "medium",
            "label": "t:sections.featured_product.settings.image_size.options__2.label"
          },
          {
           "value": "large",
           "label": "t:sections.featured_product.settings.image_size.options__3.label"
         }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.featured_product.settings.header__3.content"
      },
      {
        "type": "checkbox",
        "id": "enable_arrows",
        "label": "t:sections.featured_product.settings.enable_arrows.label",
        "default": true
      },
      {
        "type": "select",
        "id": "thumbnails_position",
        "label": "t:sections.featured_product.settings.thumbnails_position.label",
    		"default": "bottom_center",
        "options": [
          {
            "value": "top_left",
            "label": "t:sections.featured_product.settings.thumbnails_position.option__1.label"
          },
          {
            "value": "bottom_center",
            "label": "t:sections.featured_product.settings.thumbnails_position.option__2.label"
          }
        ]
      },
  	  {
        "type": "header",
        "content": "t:sections.featured_product.settings.header__4.content"
      },
  	  {
        "type": "checkbox",
        "id": "quantity_enabled",
        "label": "t:sections.featured_product.settings.quantity_enabled.label",
        "default": false
      },
      {
        "type": "select",
        "id": "product_selector",
        "label": "t:sections.featured_product.settings.product_selector.label",
    		"default": "select",
        "options": [
          {
            "value": "radio",
            "label": "t:sections.featured_product.settings.product_selector.options__1.label"
          },
          {
            "value": "select",
            "label": "t:sections.featured_product.settings.product_selector.options__2.label"
          }
        ]
      },
  	  {
        "type": "header",
        "content": "t:sections.featured_product.settings.header__5.content"
      },
      {
        "type": "checkbox",
        "id": "show_product_description",
        "label": "t:sections.featured_product.settings.show_product_description.label",
        "default": false
      },
  	  {
        "type": "checkbox",
        "id": "description_full",
        "label": "t:sections.featured_product.settings.description_full.label",
        "default": false
      },
      {
        "type": "select",
        "id": "dbtfy_product_description_position",
        "label": "t:sections.featured_product.settings.product_description_position.label",
        "default": "separate_section",
        "options": [
          {
            "value": "under_addtocart",
            "label": "t:sections.featured_product.settings.product_description_position.options__1.label"
          },
          {
            "value": "separate_section",
            "label": "t:sections.featured_product.settings.product_description_position.options__2.label"
          }
        ]
      },
	    {
        "type": "select",
        "id": "description_style",
        "label": "t:sections.featured_product.settings.description_style.label",
        "default": "section-border",
        "options": [
          {
            "value": "section-blank",
            "label": "t:sections.featured_product.settings.description_style.options__1.label"
          },
    		  {
            "value": "section-default",
            "label": "t:sections.featured_product.settings.description_style.options__2.label"
          },
          {
            "value": "section-border",
            "label": "t:sections.featured_product.settings.description_style.options__3.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.featured_product.settings.text_alignment.label",
        "default": "text-center",
        "options": [
          {
            "value": "",
            "label": "t:sections.featured_product.settings.text_alignment.options__1.label"
          },
     		  {
            "value": "text-center",
            "label": "t:sections.featured_product.settings.text_alignment.options__2.label"
          },
          {
            "value": "text-right",
            "label": "t:sections.featured_product.settings.text_alignment.options__3.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment_mobile",
        "label": "t:sections.featured_product.settings.text_alignment_mobile.label",
        "default": "small--text-center",
        "options": [
          {
            "value": "small--text-left",
            "label": "t:sections.featured_product.settings.text_alignment_mobile.options__1.label"
          },
     		  {
            "value": "small--text-center",
            "label": "t:sections.featured_product.settings.text_alignment_mobile.options__2.label"
          },
          {
            "value": "small--text-right",
            "label": "t:sections.featured_product.settings.text_alignment_mobile.options__3.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured_product.presets.name",
        "category": "t:sections.featured_product.presets.category"
      }
    ]
  }
{% endschema %}
