{%- liquid
  assign limit = section.settings.desktop_grid | times: section.settings.rows
  assign collection = collections[section.settings.home_featured_products]

  if collection == blank or collection.products_count == 0
    assign emptyState = true
  else
    assign emptyState = false
  endif

  assign show_view_all = section.settings.show_view_all
  assign button_label = section.settings.button_label
  assign button_link = section.settings.button_link | default: collection.url
  assign button_style = section.settings.button_style
-%}

<div id="section-{{ section.id }}" class="{% unless section.settings.show_on_desktop %} medium--hide large--hide{% endunless %} {% unless section.settings.show_on_mobile %} small--hide{% endunless %} {{ section.settings.section_style }}"  data-section-id="{{ section.id }}" data-section-type="product-grid-section">
  <div class="box">
    <div class="wrapper">
      {%- unless section.settings.title == blank and section.settings.subtitle == blank -%}
        <div class="grid">
          <div class="grid__item large--eight-twelfths push--large--two-twelfths">
            <div class="section-header">
              {%- unless section.settings.title == blank -%}
                <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
              {%- endunless -%}

              {%- unless section.settings.subtitle == blank -%}
                <p class="section-header__subtitle">{{ section.settings.subtitle | escape }}</p>
              {%- endunless -%}
            </div>
          </div>
        </div>
      {%- endunless -%}

      <div
        id="ProductGrid-{{ section.id }}"
        class="grid grid-spacer{% if section.settings.slider_related_products %} slick slick-product-grid{% endif %}"
        data-arrows="{{ section.settings.arrows }}"
        data-dots="{{ section.settings.dots }}"
        data-autoplay="{{ section.settings.autoplay }}"
        data-autoplayspeed="{{ section.settings.autoplayspeed | times: 1000 }}"
        data-slidetoshow="{{ section.settings.desktop_grid }}"
      >

        {%- liquid
          assign gift_wrap_product_id = settings.dbtfy_gift_wrap_product.id

          capture grid_item_width
            render "product-width"
          endcapture

          if emptyState
            for i in (1..limit)
              capture current
                cycle 1, 2, 3, 4, 5, 6
              endcapture

              render "product-grid-item", grid_item_width: grid_item_width, emptyState: emptyState, current: current
            endfor
          else
            for product in collection.products limit: limit
              capture product_item
                capture current
                  cycle 1, 2, 3, 4, 5, 6
                endcapture

                render "product-grid-item" with product as product, grid_item_width: grid_item_width, current: current
              endcapture

              if content_for_header contains 'debutify' and settings.dbtfy_gift_wrap
                unless product.id == gift_wrap_product_id
                  echo product_item
                endunless
              else
                echo product_item
              endif
            endfor
          endif
        -%}
      </div>

      {%- if show_view_all and button_label != blank and button_link != blank -%}
        <div class="view-all-box">
          <a href="{{ button_link }}" class="btn view-all-link {{ button_style }}">
            {{- button_label -}}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_products.name",
  "class": "featured-products-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_on_desktop",
      "label": "t:sections.featured_products.settings.show_on_desktop.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_on_mobile",
      "label": "t:sections.featured_products.settings.show_on_mobile.label",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured_products.settings.title.label",
      "default": "Featured collection"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.featured_products.settings.subtitle.label"
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "t:sections.featured_products.settings.section_style.label",
      "default": "section-blank",
      "options": [
        {
          "value": "section-blank",
          "label": "t:sections.featured_products.settings.section_style.options__1.label"
        },
        {
          "value": "section-default",
          "label": "t:sections.featured_products.settings.section_style.options__2.label"
        },
        {
          "value": "section-border",
          "label": "t:sections.featured_products.settings.section_style.options__3.label"
        }
      ]
    },
    {
      "type": "collection",
      "id": "home_featured_products",
      "label": "t:sections.featured_products.settings.home_featured_products.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured_products.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "rows",
      "label": "t:sections.featured_products.settings.rows.label",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured_products.settings.rows.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured_products.settings.rows.options__2.label"
        },
        {
          "value": "3",
          "label": "t:sections.featured_products.settings.rows.options__3.label"
        },
        {
          "value": "4",
          "label": "t:sections.featured_products.settings.rows.options__4.label"
        },
        {
          "value": "5",
          "label": "t:sections.featured_products.settings.rows.options__5.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_grid",
      "label": "t:sections.featured_products.settings.desktop_grid.label",
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": "t:sections.featured_products.settings.desktop_grid.options__1.label"
        },
        {
          "value": "3",
          "label": "t:sections.featured_products.settings.desktop_grid.options__2.label"
        },
        {
          "value": "4",
          "label": "t:sections.featured_products.settings.desktop_grid.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_grid",
      "label": "t:sections.featured_products.settings.mobile_grid.label",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured_products.settings.mobile_grid.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured_products.settings.mobile_grid.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured_products.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "t:sections.featured_products.settings.show_view_all.label",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.featured_products.settings.button_label.label",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.featured_products.settings.button_link.label",
      "info": "t:sections.featured_products.settings.button_link.info"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.featured_products.settings.button_style.label",
      "default": "btn-outline-primary",
      "options": [
        {
          "value": "",
          "label": "t:sections.featured_products.settings.button_style.options__1.label"
        },
        {
          "value": "btn--primary",
          "label": "t:sections.featured_products.settings.button_style.options__2.label"
        },
        {
          "value": "btn-outline-primary",
          "label": "t:sections.featured_products.settings.button_style.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured_products.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "slider_related_products",
      "label": "t:sections.featured_products.settings.slider_related_products.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "t:sections.featured_products.settings.arrows.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "t:sections.featured_products.settings.dots.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.featured_products.settings.autoplay.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplayspeed",
      "label": "t:sections.featured_products.settings.autoplayspeed.label",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_products.presets.name",
      "category": "t:sections.featured_products.presets.category"
    }
  ]
}
{% endschema %}
