<header class="password-page__header" role="banner" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="wrapper">
    <div class="grid grid-spacer align-center small--text-center">
      <div class="grid__item large--six-twelfths medium--six-twelfths">
        <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
          {%- liquid
            if section.settings.logo_svg != blank
              assign pt_image = section.settings.logo_svg
              assign pt_image_type = 'svg'
            elsif section.settings.logo != blank
              assign pt_image = section.settings.logo
              assign pt_image_type = 'retina'
            endif
          -%}

          {%- if pt_image != blank -%}
            <img class="imgset lazyload radius-none"
            {%- render 'lazysizes', img: pt_image, img_type: pt_image_type, img_width: section.settings.logo_width -%}
            alt="{{ shop.name }}">
          {%- else -%}
            <span class="logo-text">{{ shop.name }}</span>
          {%- endif -%}
        </h1>
      </div>
      <div class="grid__item large--six-twelfths medium--six-twelfths large--text-right medium--text-right">
        <button type="button" class="btn btn--small btn-outline-primary" data-modal-open="#LoginModal">
          <span class="{{ settings.icon }}" aria-hidden="true">lock</span>
          {{ 'general.password_page.password_link' | t }}
        </button>
      </div>
    </div>
  </div>
</header>

{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}

{%- unless shop.password_message == blank -%}
  <div class="section-default">
    <div class="box">
      <div class="wrapper">
        <div class="grid">
          <div class="grid__item large--eight-twelfths push--large--two-twelfths text-center">
            <p class="text-lead spacer-none">{{ shop.password_message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endunless -%}

{% schema %}
  {
    "name": "t:sections.password_header.name",
    "class": "password-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.password_header.settings.logo.label"
      },
      {
        "type": "text",
        "id": "logo_svg",
        "label": "t:sections.password_header.settings.logo_svg.label",
        "placeholder": "logo.svg",
        "info": "t:sections.password_header.settings.logo_svg.info"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "t:sections.password_header.settings.logo_width.label",
        "min": 20,
        "max": 200,
        "step": 2,
        "unit": "px",
        "default": 150
      }
    ]
  }
{% endschema %}
