<div class="password-page__content" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="password-section">

  {%- if section.settings.image != blank -%}
    {%- assign grid_width = "large--six-twelfths medium--six-twelfths" -%}
  {%- else -%}
    {%- assign grid_width = "large--eight-twelfths push--large--two-twelfths" -%}
  {%- endif -%}

  <div class="section-blank">
    <div class="box">
      <div class="wrapper">
        <div class="grid grid-spacer align-center">
          {%- if section.settings.image != blank -%}
          <div class="grid__item {{ grid_width }}">
            <div class="media-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
              <img class="media lazyload"
                  {%- render 'lazysizes', img: section.settings.image, img_type: 'responsive' -%}
                  alt="{{ section.settings.image.alt | escape }}">
            </div>
          </div>
          {%- endif -%}

          <div class="grid__item {{ grid_width }} text-center">
            {%- unless section.settings.title == blank -%}
            <div class="page-title-wrapper">
              <h2 class="page-title">{{ section.settings.title | escape }}</h2>
            </div>
            {%- endunless -%}

            {%- if section.settings.newsletter_enable -%}
            <div class="password-page__signup-form">
              {%- form 'customer' -%}
              {{ form.errors | default_errors }}
              {%- if form.posted_successfully? -%}
              <div class="newsletter--form">
                <div class="note form-success">
                  <span class="{{ settings.icon }}">email</span>
                  {{ 'general.password_page.signup_form_success' | t }}
                </div>
              </div>
              {%- else -%}
              <div class="rte lead">{{ section.settings.newsletter_form_heading }}</div>
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <div class="input-group">
                <input id="email" type="email"
                       placeholder="{{ section.settings.newsletter_placeholder | escape }}"
                       aria-label="{{ section.settings.newsletter_placeholder | escape }}"
                       name="contact[email]"
                       id="Email"
                       class="input-group-field newsletter__input"
                       autocorrect="off"
                       pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$"
                       autocapitalize="off"
                       required="required">
                <button type="submit"
                        class="btn btn--primary input-group-btn btn--square password-page__signup-form__submit"
                        aria-label="{{section.settings.newsletter_button_text }}"
                        title="{{section.settings.newsletter_button_text }}">
                  <span class="{{ settings.icon }}" aria-hidden="true">notifications_active</span>
                </button>
              </div>
              {%- endif -%}
              {%- endform -%}
            </div>
            {%- endif -%}

            {%- if section.settings.show_share_buttons -%}
              {%- render 'social-sharing', share_button: "btn btn-square-xsmall", container_class: "spacer-top" -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.password_content.name",
    "class": "password-content",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.password_content.settings.title.label",
		    "default": "Coming soon"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.password_content.settings.image.label"
      },
      {
        "type": "header",
        "content": "t:sections.password_content.settings.header__1.content"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "t:sections.password_content.settings.newsletter_enable.label",
        "default": true
      },
      {
        "type": "richtext",
        "id": "newsletter_form_heading",
        "label": "t:sections.password_content.settings.newsletter_form_heading.label",
        "default": "<p>Enter your email below and get notified first when we launch!</p>",
        "info": "t:sections.password_content.settings.newsletter_form_heading.info"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "t:sections.password_content.settings.newsletter_placeholder.label",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "t:sections.password_content.settings.newsletter_button_text.label",
        "default": "Notify me"
      },
      {
        "type": "header",
        "content": "t:sections.password_content.settings.header__2.content"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "t:sections.password_content.settings.show_share_buttons.label",
        "default": true
      }
    ]
  }
{% endschema %}
