<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="{{ settings.color_body_bg }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="Debutify">

    <!-- Preconnect external resources -->
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="preconnect" href="https://shop.app" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    {%- if content_for_layout contains "product-template" -%}
      <link rel="preconnect" href="https://godog.shopifycloud.com">

      {%- if settings.enable_payment_button -%}
        <link rel="preconnect" href="https://pay.google.com" crossorigin>
        <link rel="preconnect" href="https://play.google.com" crossorigin>
      {%- endif -%}
    {%- endif -%}

    {%- if content_for_layout contains "featured-video" -%}
      <link rel="preconnect" href="https://www.youtube.com">
    {%- endif -%}

    {%- if content_for_layout contains "map" -%}
      <link rel="preconnect" href="https://maps.googleapis.com">
    {%- endif -%}

    {%- if request.page_type == "contact" or request.page_type == "product" or request.page_type == "captcha" -%}
      <link rel="preconnect" href="https://www.google.com">
      <link rel="preconnect" href="https://www.gstatic.com">
      <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="preconnect" href="https://www.recaptcha.net" crossorigin>
    {%- endif -%}

    {%- if content_for_header contains "debutify" -%}
      <link rel="preconnect" href="https://debutify.com">

      {%- if settings.dbtfy_automatic_geolocation -%}
        <link rel="preconnect" href="https://api.teathemes.net" crossorigin>
      {%- endif -%}

      {%- if settings.dbtfy_instagram_feed -%}
        <link rel="preconnect" href="https://graph.instagram.com/" crossorigin>
      {%- endif -%}

      {%- if settings.dbtfy_facebook_messenger -%}
        <link rel="preconnect" href="https://www.facebook.com/" crossorigin>
        <link rel="preconnect" href="https://www.facebook.com/">
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      assign accent_family = settings.accent_family
      assign base_family = settings.base_family
      assign header_family = settings.header_family
      assign base_family_bold = base_family | font_modify: "weight", "bolder"
      assign base_family_italic = base_family | font_modify: "style", "italic"
      assign base_family_bold_italic = base_family_bold | font_modify: "style", "italic"
      assign accent_family_bold = accent_family | font_modify: "weight", "bolder"
      assign icon_split = settings.icon | split: "-"
      capture icon_family
        for icon in icon_split
          unless forloop.last == true
            echo icon | capitalize | append: " "
          else
            echo icon | capitalize
          endunless
        endfor
      endcapture
    -%}

    <!-- Preload assets -->
    <link rel="preload" href="{{ "theme.scss.css" | asset_url }}" as="style">
    <link rel="preload" as="font" href="{{ header_family | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ accent_family | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ base_family | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ settings.icon | append: ".woff2" | asset_url }}" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ "jquery-2.2.3.min.js" | asset_url }}" as="script">
    <link rel="preload" href="{{ "theme.min.js" | asset_url }}" as="script">
    <link rel="preload" href="{{ "lazysizes.min.js" | asset_url }}" as="script">

    {%- if content_for_header contains "debutify" -%}
      <link rel="preload" href="{{ "dbtfy-addons.min.js" | asset_url }}" as="script">
    {%- endif -%}

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    <!-- Fav icon -->
    {%- assign favicon_url = settings.favicon | img_url: "100x100", crop: "center" -%}

    {%- if settings.favicon == blank -%}
      {%- assign favicon_url = "data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" -%}
    {%- endif -%}

    <link sizes="192x192" rel="shortcut icon" type="image/png" id="favicon" href="{{ favicon_url }}">

    <!-- Title and description -->
    <title>
      {{ page_title }}{% if current_tags %}{%- assign meta_tags = current_tags | join: ", " -%} &ndash; {{ "general.meta.tags" | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ "general.meta.page" | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- Social meta -->
    {%- render "social-meta-tags" -%}

    <!-- CSS  -->
    {{ "theme.scss.css" | asset_url | stylesheet_tag }}

    {%- if settings.dbtfy_delivery_date -%}
      {{ "flatpickr.min.css" | asset_url | stylesheet_tag }}
    {%- endif -%}

    <!-- Load fonts independently to prevent rendering blocks -->
    <style>
      {{ header_family | font_face: font_display: "swap" }}
      {{ accent_family | font_face: font_display: "swap" }}
      {{ base_family | font_face: font_display: "swap" }}
      {{ base_family_bold | font_face: font_display: "swap" }}
      {{ base_family_italic | font_face: font_display: "swap" }}
      {{ base_family_bold_italic | font_face: font_display: "swap" }}
      {{ accent_family_bold | font_face: font_display: "swap" }}
      @font-face {
        font-family: {{ icon_family }};
        font-weight: 400;
        font-style: normal;
        font-display: block;
        src: url({{ settings.icon | append: ".woff2" | asset_url }}) format("woff2");
      }
    </style>

    <!-- Google Tag Manager -->
    {%- if settings.google_tag_manager_id != blank -%}
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer',{{ settings.google_tag_manager_id | json }});
      </script>
    {%- endif -%}

    <!-- Theme strings and settings -->
    {%- render "translations-js" -%}

    <!-- JS -->
    {{ "jquery-2.2.3.min.js" | asset_url | script_tag }}

    <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

    {%- if content_for_header contains "debutify" -%}
      {%- if settings.show_currency_selector -%}
        {%- if settings.dbtfy_custom_currencies or shop.enabled_currencies.size > 1 and settings.dbtfy_cart_goal -%}
          <script type="text/javascript" src="/services/javascripts/currencies.js" data-no-instant></script>
          <script src="{{ 'jquery.currencies.min.js' | asset_url }}" defer="defer"></script>
        {%- endif -%}
      {%- endif -%}

      <script src="{{ 'dbtfy-addons.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if request.page_type contains "customers/" -%}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {%- endif -%}

    <!-- Header hook for plugins -->
    {{ content_for_header }}

    {% render 'review-head' %}
  
    <!-- {{ "fancybox.min.css" | asset_url | stylesheet_tag }}   -->
    <!-- <script src="https://unpkg.com/vue@3.2.6"></script> -->
    {% if request.page_type == "product" %}
      <link rel="preload" href="{{ "product.css" | asset_url }}" as="style">
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://unpkg.com/vue@3.2.6/dist/vue.global.prod.js"></script>
      <script src="{{ 'product-vue-data.js' | asset_url }}"></script>
      <script src="{{ 'product-dataparser.js' | asset_url }}"></script>
      {{ 'product.css' | asset_url | stylesheet_tag }}
    {% endif %}
{% include 'booster-common' %}
  {% render 'judgeme_core' %}
  {% style %}
  :root {
    --font-body-family: Assistant, sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-heading-family: Assistant, sans-serif;
    --font-heading-style: normal;
    --font-heading-weight: 400;
    --font-body-scale: 1.0;
    --font-heading-scale: 1.0;
    --color-base-text: 18, 18, 18;
    --color-base-background-1: 255, 255, 255;
    --color-base-background-2: 243, 243, 243;
    --color-base-solid-button-labels: 255, 255, 255;
    --color-base-outline-button-labels: 18, 18, 18;
    --color-base-accent-1: 18, 18, 18;
    --color-base-accent-2: 51, 79, 180;
    --payment-terms-background-color: var(--shopify-editor-setting-colors_background_1);
    --gradient-base-background-1: var(--shopify-editor-setting-colors_background_1);
    --gradient-base-background-2: var(--shopify-editor-setting-colors_background_2);
    --gradient-base-accent-1: var(--shopify-editor-setting-colors_accent_1);
    --gradient-base-accent-2: var(--shopify-editor-setting-colors_accent_2);
    --page-width: 160rem;
    --page-width-margin: 2rem;
  }
  {% endstyle %}
</head>

  <body id="{{ page_title | handle }}"
        class="{% if settings.sticky_header %}sticky-header{% endif %}
                 {% if settings.sticky_announcement_bar %}sticky-announcement_bar{% endif %}
                 {% if settings.hero_header_desktop %}transparent-header--desktop{% endif %}
                 {% if settings.hero_header_mobile %}transparent-header--mobile{% else %}transparent-header--no-mobile{% endif %}
                 {% if settings.dbtfy_menu_bar %}menu_bar--present{% endif %}
                 {% if customer %}customer-logged-in{% endif %}
                 template-{{ request.page_type | handle }}">

    <!-- {{ "fancybox.min.js" | asset_url | script_tag }} -->

    <!-- Google Tag Manager (noscript) -->
    {%- if settings.google_tag_manager_id != blank -%}
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.google_tag_manager_id }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {%- endif -%}

    {%- liquid
      render 'hero-header'
      render "toasts"

      if settings.cart_type == "drawer"
        render "drawer-cart"
      elsif settings.cart_type == "modal"
        render "cart-modal"
      endif

      render "drawer-search"
      render "dbtfy-age-check"
      render "dbtfy-cookie-box"
      render "dbtfy-facebook-messenger"
      render "dbtfy-newsletter-popup"
      render "dbtfy-page-transition"
      render "dbtfy-quick-view", type: "container"
      render "dbtfy-social-discount"
      render "cart-message-toast"
      render "dbtfy-cart-reminder"

      section "dbtfy-bullet-points"
      section "dbtfy-cart-goal"
      section "dbtfy-cart-upsell"
      if request.page_type == "collection"
        section "dbtfy-collection-filters"
      endif
      section "dbtfy-color-swatches"
      section "dbtfy-customizable-products"
      section "dbtfy-delivery-time"
      section "dbtfy-product-tabs"
      section "dbtfy-product-swatches"
      section "dbtfy-quantity-breaks"
      section "dbtfy-sales-countdown"
      section "dbtfy-size-chart"
      section "dbtfy-upsell-popup"
      section "drawer-menu"

    -%}

    <div id="PageContainer" class="page-container">
      <a class="visually-hidden event-focus-box" href="#mainContent">{{ "shopify.checkout.general.skip_to_content" | t }}</a>

      {%- liquid
        section "announcement"
        section "header"
        render "dbtfy-menu-bar"
        render "dbtfy-quick-compare", type: "page"
        render "dbtfy-quick-compare", type: "markup"

        unless request.page_type == "collection"
          render "breadcrumbs"
        endunless
      -%}

      <main id="mainContent" class="main-content fadeIn" role="main">
        {%- if request.page_type == "captcha" or request.page_type == "policy" -%}
          <div class="box">
            <div class="wrapper">
              <div class="grid">
                <div class="grid__item large--eight-twelfths push--large--two-twelfths">
                  {%- endif -%}

                  {%- if template == 'index' -%}
                    <div class="index-sections">
                  {%- endif -%}

                  {{ content_for_layout }}

                  {%- if template == 'index' -%}
                    </div>
                  {%- endif -%}

                  {%- if request.page_type == "captcha" or request.page_type == "policy" -%}
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </main>

      {%- liquid
        render "dbtfy-recently-viewed"
        section "dbtfy-instagram-feed"
        section "guarantee"
        section "footer"
      -%}

      {%- if settings.show_top_button -%}
        <button type="button" class="btn-top stacked-on-top-of-content scroll-top btn btn--square btn-top-{{ settings.top_button_position }} {% if settings.top_button_mobile %}small--hide{% endif %}">
          <span class="{{ settings.icon }} icon-width" aria-hidden="true">keyboard_arrow_up</span>
        </button>
      {%- endif -%}
    </div>

    {%- if settings.newsletter_app == "klaviyo" and settings.klaviyo_app_public_key != blank and settings.klaviyo_app_list_id != blank -%}
      <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
      <script>
        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: {{ settings.klaviyo_app_public_key | json }},
          list: {{ settings.klaviyo_app_list_id | json }},
          platform: "shopify"
        });
        klaviyo.enable("backinstock",{
          trigger: {
            product_page_text: "Notify Me When Available",
            product_page_class: "btn",
            product_page_text_align: "center",
            product_page_margin: "0px",
            replace_anchor: false
          },
          modal: {
            headline: "{product_name}",
            body_content: "Register to receive a notification when this item comes back in stock.",
            email_field_label: "Email",
            button_label: "Notify me when available",
            subscription_success_label: "You're in! We'll let you know when it's back.",
            footer_content: '',
            additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
            drop_background_color: {{ settings.color_overlay | json }},
            background_color: {{ settings.color_body_bg | json }},
            text_color: {{ settings.color_body_text | json }},
            button_text_color: {{ settings.color_button_text | json }},
            button_background_color: {{ settings.color_primary | json }},
            close_button_color: "#ccc",
            error_background_color: "#fff",
            error_text_color: {{ settings.color_errors | json }},
            success_background_color: "#fff",
            success_text_color: {{ settings.color_secondary | json }}
          }
        });
      </script>
    {%- endif -%}
  {% include 'booster-discounts' %}
</body>
</html>
