<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="{{ settings.color_body_bg }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="Debutify">

    <!-- Preconnect CDN resources -->
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="preconnect" href="https://shop.app" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    {%- liquid
      assign accent_family = settings.accent_family
      assign base_family = settings.base_family
      assign header_family = settings.header_family
      assign base_family_bold = base_family | font_modify: "weight", "bolder"
      assign base_family_italic = base_family | font_modify: "style", "italic"
      assign base_family_bold_italic = base_family_bold | font_modify: "style", "italic"
      assign accent_family_bold = accent_family | font_modify: "weight", "bolder"
      assign icon_split = settings.icon | split: "-"
      capture icon_family
        for icon in icon_split
          unless forloop.last == true
            echo icon | capitalize | append: " "
          else
            echo icon | capitalize
          endunless
        endfor
      endcapture
    -%}

    <!-- Preload assets -->
    <link rel="preload" href="{{ "theme.scss.css" | asset_url }}" as="style">
    <link rel="preload" as="font" href="{{ header_family | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ accent_family | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ base_family | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ settings.icon | append: ".woff2" | asset_url }}" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ "jquery-2.2.3.min.js" | asset_url }}" as="script">
    <link rel="preload" href="{{ "theme.min.js" | asset_url }}" as="script">
    <link rel="preload" href="{{ "lazysizes.min.js" | asset_url }}" as="script">

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    <!-- Fav icon -->
    <link sizes="192x192" rel="shortcut icon" type="image/png"
      {%- if settings.favicon != blank -%}
        href="{{ settings.favicon | img_url: "192x192" }}"
      {%- else -%}
        href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
      {%- endif -%}
    >

    <!-- Title and description -->
    <title>
      {{ shop.name }}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- Social meta -->
    {%- render "social-meta-tags" -%}

    <!-- CSS  -->
    {{ "theme.scss.css" | asset_url | stylesheet_tag }}

    <!-- Load fonts independently to prevent rendering blocks -->
    <style>
      {{ header_family | font_face: font_display: "swap" }}
      {{ accent_family | font_face: font_display: "swap" }}
      {{ base_family | font_face: font_display: "swap" }}
      {{ base_family_bold | font_face: font_display: "swap" }}
      {{ base_family_italic | font_face: font_display: "swap" }}
      {{ base_family_bold_italic | font_face: font_display: "swap" }}
      {{ accent_family_bold | font_face: font_display: "swap" }}
      @font-face {
        font-family: {{ icon_family }};
        font-weight: 400;
        font-style: normal;
        font-display: block;
        src: url({{ settings.icon | append: ".woff2" | asset_url }}) format("woff2");
      }
    </style>

    <!-- Theme strings and settings -->
    {%- render "translations-js" -%}

    <!-- JS -->
    {{ "jquery-2.2.3.min.js" | asset_url | script_tag }}

    <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

    {%- if request.page_type contains "customers/" -%}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {%- endif -%}

    <!-- Header hook for plugins -->
    {{ content_for_header }}
  </head>

  <body class="template-password">
    <main class="main-content password-main" role="main">
      {{ content_for_layout }}
    </main>

    <div id="LoginModal" class="modal stacked-on-top-of-content" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content overlay-content" tabindex="-1" aria-hidden="true">
          <div class="modal-header">
            <h5 class="modal-title">{{ 'general.password_page.login_form_heading' | t }}</h5>
            <button type="button"
                    class="btn btn-square-small modal-close"
                    title="{{ 'general.password_page.close' | t }}"
                    aria-label="{{ 'general.password_page.close' | t }}"
                    data-modal-close="#LoginModal">
              <span class="{{ settings.icon }} icon-width" aria-hidden="true">close</span>
            </button>
          </div>
          <div class="modal-body">
            {%- form 'storefront_password', class: 'storefront-password-form' -%}
              {{ form.errors | default_errors }}
              <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
              <div class="input-group">
                <input type="password"
                      class="input-group-field"
                      name="password"
                      id="password"
                      placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                      required="required"
                      data-focus>
                <button type="sumbit" class="btn btn--primary btn--square input-group-btn" aria-label="{{ 'general.password_page.login_form_submit' | t }}" title="{{ 'general.password_page.login_form_submit' | t }}">
                  <span class="{{ settings.icon }} icon-width" aria-hidden="true">exit_to_app</span>
                </button>
              </div>
            {%- endform -%}
          </div>
          <div class="modal-footer">
            <div class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay-backdrop overlay-modal"></div>
  </body>
</html>
